{% extends "base.html" %}
{% block content %}
      <div class="container">
{% if user.is_authenticated %}
        <div class="welcome">Welcome {{ user }} you are authenticated</div>
{% endif %}
        <ul>
          <li>
            With a dedicated page.
            <ul class="dedicated">
{% if not user.is_authenticated %}
              <li><a href="{% url 'django-pam:login' %}">Login</a></li>
{% else %}
              <li><a href="{% url 'django-pam:logout' %}">Logout</a></li>
{% endif %}
            </ul>
          </li>
          <li>
            With a modal.
            <ul class="modal">
{% if not user.is_authenticated %}
              <li>Login</li>
{% else %}
              <li>Logout</li>
{% endif %}
            </ul>
          </li>
        </ul>
      </div>
{% endblock %}
