body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 3em;
  background-color: rgba(245, 240, 240, 1);
  font-size: medium;
  color: rgba(146, 113, 28, 1);
}

div.content {
  width: 100%;
}

div.login,
div.logout {
  width: 300px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

div.alert-error {
  margin-bottom: 10px;
  background-color: rgba(245, 208, 208, 0.5);
  color: rgba(120, 105, 30, 1);
  border-style: solid;
  border-color: rgba(250, 190, 190, 1);
  border-width: 1px;
}

button.close-message {
  margin: 2px;
  background-color: rgba(245, 208, 208, 0.5);
  border-color: rgba(250, 200, 200, 1);
}

div.form-fields,
button[type=submit] {
  margin: 10px 0 5px 5px;
}

button[type=submit] {
  display: block;
  margin: 0 auto;
  background-color: rgba(190, 170, 110, 1);
  color: white;
}

.login label {
  display: block;
  width: 80px;
  float: left;
}

.login input {
  display: block;
}
