      <div class="login">
        <h2>Login</h2>
{% if form.non_field_errors %}
        <div class="alert-error">
          <button type="button" class="close-message">&times;</button>
          <span>Error:</span>
          {{ form.non_field_errors }}
        </div>
{% endif %}
        <div class="login-body">
          <form role="form" method="post" action="">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ next }}" />
            <div class="form-fields">
              {{ form.username.errors }}
              <label for="username">Username</label>
              {{ form.username }}
            </div>
            <div class="form-fields">
              {{ form.password.errors }}
              <label for="password">Password</label>
              {{ form.password }}
            </div>
            <button type="submit" class="form-submit">Login</button>
          </form>
        </div>
      </div>
