{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django PAM Example Site</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'css/common.css' %}" type="text/css" media="all"
          rel="stylesheet" />
    <link href="{% static 'django_pam/css/modal.css' %}" type="text/css"
          media="all" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'django_pam/js/js.cookie-2.0.4.min.js' %}"></script>
    <script src="{% static 'django_pam/js/inheritance.js' %}"></script>
    <script src="{% static 'django_pam/js/modal.js' %}"></script>
{% block script %}{% endblock %}
  </head>
  <body>
    <div class="content">
{% block content %}{% endblock %}
    </div>
{% block modals %}{% endblock %}
  </body>
</html>
