* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 3em;
  background-color: rgba(190, 220, 230, 1);
  font-size: medium;
  color: rgba(50, 50, 70, 1);
}

div.container {
  width: 326px;
  margin: 40px auto 0 auto;
}

.container h2.welcome {
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 165%;
  line-height: 1.1em;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.container ul.with-django-pam-css li,
.container ul.with-modified-css li,
.container ul.with-modal li {
  display: block;
  margin: 10px auto;
  height: 24px;
  width: 70px;
  border: 1px solid rgba(50, 50, 70, 1);
  border-radius: 10px;
  padding-top: 1px;
  color: rgba(40, 100, 150, 1);
}

.container ul.with-django-pam-css li a,
.container ul.with-modified-css li a {
  text-decoration: none;
  color: rgba(40, 100, 150, 1);
}

.container ul.with-django-pam-css li a:hover,
.container ul.with-modified-css li a:hover {
  color: rgba(50, 50, 70, 1);
}

.container ul.with-django-pam-css li:hover,
.container ul.with-modified-css li:hover,
.container ul.with-modal li:hover {
  background-color: rgba(40, 100, 150, 0.5);
  color: rgba(50, 50, 70, 1);
}

/* Mods to django_pam CSS */
div.login,
div.logout {
  width: 300px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

ul.errorlist {
  padding-left: 40px;
}

div.alert-error {
  margin-bottom: 10px;
  background-color: rgba(215, 250, 0, 0.5);
  color: rgba(210, 50, 50, 1);
  border-style: solid;
  border-color: rgba(215, 250, 0, 1);
  border-width: 1px;
}

button.close-message {
  margin: 2px;
  padding: 1px 6px;
  background-color: rgba(215, 250, 0, 0.5);
  border-color: rgba(215, 250, 0, 1);
}

div.form-fields,
button[type=submit] {
  margin: 10px 0 5px 5px;
}

button[type=submit] {
  display: block;
  margin: 0 auto;
  width: 60px;
  background-color: rgba(65, 100, 110, 1);
  color: white;
}

.login label {
  display: block;
  width: 80px;
  float: left;
}

.login input {
  display: block;
}
